body{
    margin: auto;
    font-family: "Century Gothic";
    font-size:64px;
    background: #AAEDFF;
}


#container { 
    text-align: center;
}

#mycanvas{
    background: #AAEDFF;
}

#btn{
    margin: 3px auto;
    width: 200px;
    padding: 5px;
    position: absolute;
    top: 80%;
    left: 40%;
    background: #00AAFF;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover{
    opacity: 0.8;
}

.chara{
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 0%;
}